@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

body{
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;

    min-width: 960px;
}

/* font-family: "PT Sans", Arial, sans-serif; */

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

    /*===================================================
    Header
    =====================================================*/
    
    .main-header{
        background: #f1f5f7;
    }

    .header-top{
        background: #293449;
    }

    .container{
        width: 940px;
        margin: 0 auto;
    }

    .logo{
        float: left;
        width: 220px;

        padding: 8px 0;
        
        font-size: 24px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: white;

        box-shadow: 0 5px 0 0 #b52933;

        background: #ee3643;
    }

    .search-btn{
        float: left;
        color: #6a7180;
    }

    .search-btn:hover{
        color:white;
        background: #212a3a;
    }

    .search-btn:hover input{
        color: black;
        background: #212a3a;
    }

    .search-btn i{
        margin: 0 15px;
    }
    
    .search-btn input{
        padding: 0;
        padding: 12px 0px;
        width: 200px;
        border: none;
        outline: none;

        font-size: 17px;
        line-height: 18px;
        background: #293449; 
    }

    .header-button{
        position: relative;
        float: right;
        font-size: 0;
    }

    .header-btn{
        display: inline-block;
        padding: 12px 21px;
        padding-left: 24px;
        font-size: 17px;
        line-height: 18px;
        color: white;
    
        text-decoration: none;
    }
    
    .header-btn:hover{
        background: #212a3a;
    }

    .checkout{
        background: #63a63e;
    }

    .checkout:hover{
        background: #5fbb2d;
    }

    .header-btn:hover{

    }

    .header-btn i{
        color: #6a7180;
        padding-right: 10px;
    }

    .header-btn:hover i{
        color: white;
        padding-right: 10px;
    }

    .header-bottom{
        padding-top: 45px;
        padding-bottom: 60px;
    }

    .info-container{
        margin-bottom: 45px;
    }
    
    .shop-block{
        float: left;
        width: 185px;    
        margin: 0px;
        margin-left: 53px;
        margin-right: 80px;
        font-size: 16px;
        line-height: 23px;
        font-style: italic;
        color: #ff3333;
    }

    .contact-block{
        float: left;
        width: 270px;
    }
    
    .tel{
        display: block;
        padding: 11px;
        padding-left: 75px;

        font-size: 21px;
        line-height: 17px;
        color: red;

        border: 3px solid white;
    }

    .address{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #32425c;
    }

    .user-block{
        float: right;
        font-size: 0;
    }
    
    .user-btn{
        display: inline-block;
        padding: 13px 25px;

        font-size: 21px;
        line-height: 18px;
        text-decoration: none;
        color: black;

        background: white;
    }
    
    .user-btn:hover{
        color: #ee3643;
    }

    .login{
        padding-left: 10px; 
        margin-right: 10px;
    }

    .user-block i{
        margin: 0 10px;
    }

    .login:hover i{
        color: #32425c;
    }
    
    .main-navigation{
        background: #32425c;
        box-shadow: 0 5px 0 0 #293449;
    }

    .main-navigation ul{
        margin: 0;
        padding: 0;
        font-size: 0;
    }

    .main-navigation li{
        display: inline-block;
        vertical-align: top;
        font-size: 17px;
        line-height: 17px;
    }

    .main-navigation a{
        display: block;
        padding: 19px 33.5px;
        text-decoration: none;
        color: white;
    }

    .main-navigation a:hover{
        background: #293449;
    }
        
    /* ==================== page-1 INDEX ========================*/

    .promo-catalog-top{
        margin-top: 60px;
    }

    .promo-catalog-item{
        float: left;
        width: 280px;

        margin-right: 20px;    
        padding-top: 21px;
        padding-left: 20px;    
    }
    
    .materials{
        background: #f6b22d url("../img/icon-promo-materials.png") no-repeat 213px 30px;
    }

    .instrument{
        background: #4aafde url("../img/icon-promo-instrument.png") no-repeat 197px 33px;
    }

    .equipment{
        margin-right: 0;
        background: #cc79d1 url("../img/icon-promo-equipment.png") no-repeat 191px 31px;        
    }

    .discount{
        margin-top: 20px;
        background: #85d179 url("../img/icon-promo-discount.png") no-repeat 197px 28px;
    }

    .delivery{
        margin-top: 20px;
        background: #f6b22d url("../img/icon-promo-delivery.png") no-repeat 190px 32px;
    }
    
    .promo-catalog-title{
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        color: white;
    }

    .button{
        display: inline-block;
        vertical-align: top;
        padding: 10px 0;

        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        border-radius: 5px;
    }

    .button-opacity{
        width: 135px;

        margin-top: 12px;
        margin-bottom: 22px;        

        text-align: center;        
        background: rgba(0, 0, 0, 0.1);
    }

    .button-opacity:hover{
        background: rgba(0, 0, 0, 0.2);
    }

    .button-red{
        background: #ee3643;
    }

    .button-red:hover{
        background: #ca2c37;
    }

    .slide .button-red{
        width: 195px;
        
        margin-top: 122px;
        margin-bottom: 22px;

        text-align: center;
    }
    
    .section-title .button-red{
        width: 253px;

        margin-right: 24px;

        text-align: center;
    }
    .slider{
        float: left;
        width: 620px;
    }
    
    .slide{
        margin-top: 20px;
        padding-left: 25px;
    }

    .slide-first{
        background: #c1b198 url("../img/picture-slider-1.jpg") no-repeat;
    }
    
    .slide-second{
        background: #a67a6f url("../img/picture-slider-2.jpg") no-repeat;
    }
        
    .slide-title{
        margin: 0;
        padding: 0;
        padding-top: 25px;

        font-size: 36px;
        line-height: 30px;
        font-weight: bold;    
        color: white;
        text-transform: uppercase;
    }

    .slide-slogan{
        padding-top: 5px;

        font-family: "PT Sans", Arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: white;
    }

    .items-block{
        float: right;
    }

    .items-block .promo-catalog-item{
        float:none;
        margin-right: 0px;
    }

    .section-title{
        margin: 20px 0;
        padding: 25px 0;
        background: #f7f3ec;
    }

    .section-title-text{
        float: left;
        margin: 0;
        padding-left: 30px;

        font-size: 30px;
        color: #32425c;
    }

    .section-title a{
        float: right;
    }

    .catalog{
        font-size: 0;
    }

    .catalog-item{
        position: relative;
        float: left;
        width: 218px;

        margin-right: 20px;

        font-size: 17px;
        line-height: 18px; 
        font-weight: bold;
        border: 1px solid #e5e5e5;
    }
    
    .catalog-item:last-child{
        margin-right: 0;  
    }

    .catalog-item .flag{
        position: absolute;
        top:-1px;
        right: -1px;
        width: 60px;
        height: 60px;
        text-indent: -1000px;
        overflow: hidden;
        z-index: 20;
    }

    .catalog-item .flag-new{
        background: url("../img/picture-flag-new.png") no-repeat 0 0;
    }

    .catalog-item .actions{
        position: absolute;
        top:0;
        left:0;
        width: 218px;
        height: 80px;
        padding: 40px 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 10;
    }
    
    .actions .buy,
    .actions .bookmark{
        display:block;
        width:129px;
        margin:0 auto;
        margin-bottom:7px;
        padding:7px 0;
        border:3px solid #63a63e;
        border-bottom-color:#367315; 
        background-color:#63a63e;
        color:white;
        font-size:14px;
        font-family:"Cuprum", sans-serif;
        line-height:18px;
        text-align: center;
        text-decoration:none;
        text-transform:uppercase;    
        border-radius:3px;
    }

    .actions .bookmark{
       color:#32425c;
        background:white;
        border-bottom-color:#63a63e;
    }

    .catalog-item .actions{
        display:none;
    }
    .catalog-item:hover .actions{
        display:block;
    }

    .catalog-item:hover{
        box-shadow: 0 10px 25px 0  rgba(41,52,73,0.5);
    }

    .catalog-item-title{
        width: 180px;
        margin: 0 auto;
        margin-top: 10px;
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;

        text-align: center;
    }

    .catalog-item-title span{
        text-transform: uppercase;
    }

    .old-price{
        margin-top: 20px;
        text-align: center;
        text-decoration: line-through;
        text-transform: uppercase;
        color: #999999;
    }

    .catalog-item:last-child .old-price{
        visibility: hidden;
    }

    .price{
        width: 90px;
        
        margin-top: 13px;
        margin-bottom: 20px;
        margin-left: 43px;
        padding: 10px 0;
        padding-left: 35px;
   
        color: white;
        text-transform: uppercase;
        
        border-radius: 5px;
        background: #ee3643;
    }
    
    .catalog-item:after{
        position: absolute;
        content: "";

        border: 19px solid transparent;
        border-left: 18px solid #ee3643;
        display: block;
        width: 0;
        height: 0;

        bottom: 20px;
        left: 165px;
    }
    
    .catalog-firms{
        font-size: 0;
    }

    .catalog-firms-item{
        display: inline-block;
        vertical-align: top;
        width: 218px;        
        height: 143px;
        margin-bottom: 20px;
        margin-right: 20px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #e5e5e5;
    }

    .catalog-firms-item:nth-child(4n){
        margin-right: 0;
    }

    .catalog-firms-item:hover{
        box-shadow: 0 10px 25px 0  rgba(41,52,73,0.5);
    }
   
    .service{
        margin-top: 65px;
        background: #f2f6f8;
    }
    
    .block-title{
        padding-top: 68px;
        padding-bottom: 15px;
        margin: 0;
    
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
    }

    p{
        margin: 20px 0;
        /* margin: 0; */
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 24px;  
    }

    .service-types{
        margin-top: 72px;        
    }

    .service-types-menu{
        position: relative;
        float: left;
        width: 240px;

        margin: 0;    
        padding: 0;

        list-style: none; 
    }
    
    .service-types-menu:before{
        content: "";
        position: absolute;
        width: 10px;
        height: 272px;
        left: 230px;
        top: -45px;
        background: transparent url("../img/vertical-line.png") no-repeat;
    }

    .service-types-menu a{
        display: block;
        padding: 14px 23px;

        border-top: 1px solid #405069;
        border-bottom: 1px solid #293449; 

        font-size: 21px;
        line-height: 30px;  
        font-weight: bold;
        color: white;
        text-decoration: none;
        background: #32425c;
    }

    .service-types-menu a:hover{
        border: 1px solid white;
        color: #32425c;
        background: white; 
    }

    .service-description{
        float: right;
        width: 620px;
        padding-left: 80px;
        padding-bottom: 102px;
        background: url("../img/picture-service-1.png") no-repeat 230px;
    }

    .service-description-title{
        margin: 0;
        font-size: 36px;
        color: #333366;
    }

    .service-description p{
        width: 275px;
    }

    .contacts-block{
        padding-top: 14px;
        padding-bottom: 86px;
    }

    .company{
        float: left;
        width: 560px;       
    }
    
    .delivery-companies{
        position: relative;
        margin: 0;    
        padding: 0;

        padding-left: 35px;
        padding-bottom: 7px;
        list-style: none;     
    }

    .delivery-companies li{
        position: relative;    
        padding-bottom: 20px;
    }
    
    .delivery-companies li:before{
        content: "";
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        top: 11px;
        left: -35px;
        background: red;
    }

    .company .button-red{
        width: 220px;
        text-align: center;
    }
    
    .contacts{
        float: right;
        width: 300px;
    }
    
    .contacts img{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .contacts .button-red{
        width: 100%;
        text-align: center;
    }

    /*===================== page-2 CATALOG ======================*/
    
    .catalog-page .logo{
        text-decoration: none;
    }
    
    .catalog-page .user-name{
        width: 300px;
        padding: 11px 0;
        margin-bottom: 3px;
        font-size: 21px;
        line-height: 18px;

        background: white;
    }

    .user-name i{
        margin: 0 10px;
        color: #c5c5c5;
    }

    .catalog-page .user-name:hover i{
        color: #32425c;   
    }

    .catalog-page .user-block{
        position: relative;
        float: right;
        font-size: 16px;
        line-height: 18px;
    }

    .catalog-page .user-block:after{
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background: #32425c; 
        border-radius: 50%;
    
        bottom: 6px;
        left: 105px;
    }

    .user-block .btn-office{
        padding: 0 15px;
        color: #32425c;
    }

    .user-block .btn-office:hover{
        color: #ee3643;
    }



    .breadcrumbs{
        padding: 0;
        margin: 0;
        font-size: 0;
    }

    .breadcrumbs li{
        display: inline-block;
        margin-right: 40px;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;  
        padding: 20px 0;      
    }

    .breadcrumbs a{
        text-decoration: none;
        color: #000;
    }
    
    .page-title{
        margin: 0;
        margin-bottom: 20px;
        padding: 35px 0;
        padding-left: 30px;
        font-size: 30px;
        text-transform: uppercase;
        color: #333366;
        background: #f2f6f8;
    }

    .sidebar{
        float: left;
        width: 220px;
        text-transform: uppercase;
    }

    .filter{
        margin-bottom: 14px;
        padding: 10px 18px;

        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;

        border-radius: 3px;
        background: #f7f3ec;
    }   

    .filter-title{
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 17px;
        line-height: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    
        padding-bottom: 10px;
}

    .range-filter{
        margin-bottom: 25px;
    }

    .range-controls{
        position:relative;
        height:80px;
        margin-bottom:15px;
        padding:0 30px;
        background:#f1f1f1;
        border-radius:5px;
        overflow:hidden;
    }

    .range-controls .scale{
        margin-top:39px;
        height:2px;
        background:#d7dcde;
    }

    .range-controls .bar{
        height:2px;
        background:#00ca74;
    }

    .range-controls .toggle{
        position:absolute;
        top: 30px;
        left:30px;
        width:4px;
        height: 4px;
        border: 8px solid white;
        background:#ababab;
        cursor:pointer;
        border-radius: 50%;
        box-shadow:0 2px 1px 0 #cfcfcf;
    }

    .range-controls .max-toggle{
       left: 150px;
    }

    .price-controls input{
        width: 75px;
        padding: 8px 10px;
        border:none;
        background:#f1f1f1;
        text-align: center;
        border-radius:5px;
    }

    .min-price{
        margin-right: 7px;
    }

    .max-price{
        margin-left: 7px;
    }
  
    .filter-firms{
        padding: 10px 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    
        margin-bottom: 10px;
}

    .filter-power{
        margin-bottom: 80px;
    }

    form .btn-filter{
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;

        width: 140px;
        border: 1px solid #e5e5e5;
    
        color: black;
        background: white;
}

    .main-catalog{
        float: right;
        width: 700px;
    
        margin-bottom: 60px;
    }

    .sorting{
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        
        padding: 10px 0;

        padding-left: 18px;
        margin-bottom: 20px;
        border-radius: 3px;
        background: #f7f3ec;
    }

    .sorting-name{
        float: left;
        width: 200px;
        margin: 0;
    }

    .sorting-points{
        float: right;
        width: 460px;
        padding: 0;
        font-size: 0;
    }

    .sorting-points li{
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
    }

    .sorting-points a{
        text-decoration: none;    
        color: #b2b2b2;
        border-bottom: 1px dotted #ee3643;
        margin-right: 50px;
    }

    .sorting-points a:hover{
        color: #000;
        border-bottom: 1px solid #ee3643;
    }

    .sorting-points .symbol{
        border-bottom: none;
        margin-right: 10px;
    }

    .catalog-block{
        font-size: 0;
    }

    .catalog-page .catalog-item{
        margin-bottom: 20px;
    }

    .catalog-page .catalog-item:nth-child(3n){
        margin-right: 0;
    }

    .catalog-page .catalog-item:nth-child(3n) .old-price{
        visibility: hidden;
    }
    
    .pagination{
        margin: 0;
        padding: 0;    
        font-size: 0;
}

    .pagination li{
        display: inline-block;
        vertical-align: top;

        width: 36px;
        margin-right: 10px;

        text-align: center;
        text-transform: uppercase;
        border: 1px solid #e5e5e5;        
    }

    .pagination li:hover{
        border: 1px solid #bdc6ca; 
    }

    .pagination a{
        display: block;
             
        padding: 9px 0;

        font-size: 13px;
        line-height: 18px;
        color: #000;
        text-decoration: none;
    }

    .pagination li:last-child{
        width: 138px;
    }

    .about-info{
        background: #f2f6f8;
        padding-bottom: 70px;
    }
    
    .about-info p{
        margin: 0;
    
        margin-top: 20px;
}

    /*=============================================================
    Footer
    ===============================================================*/

    .main-footer{
        background: #293449;
    }

    .footer-top{
        background: #32425c;
    }

    .footer-column-left{
        float: left;
        width: 330px;
    }

    .main-footer .logo{
        float: none;
    }

    .adress{
        padding-top: 38px;        
        margin-bottom: 55px;
        color: #f1f5f7;
    }

    .footer-column-right{
        float: right;
        width: 610px;
    
        margin-top: 42px;
}

    .footer-navigation{
        margin-bottom: 14px;
        padding: 0;
        font-size: 0;
        text-align: right;
    }

    .footer-navigation li{
        display: inline-block;
        font-size: 18px;
        margin-left: 58px;
    }

    .footer-navigation a{
        text-decoration: none;
        color: #f1f5f7;
    }

    .footer-navigation a:hover{
        text-decoration: underline;
    }

    .footer-navigation-bottom a{
        color: #ffd180;
    }

    .footer-bottom{
        padding-top: 38px;
        padding-bottom: 38px;

        font-size: 16px;
        line-height: 18px;
        color: white;
    }

    .footer-bottom p{
        font-family: Cuprum, Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;

        margin: 0;
    }

    .footer-rights{
        float: left;
        width: 230px;
        margin-right: 160px;
    }

    .footer-social{
        float: left;
        width: 150px;
        margin-right: 100px;
    }


    .social-btn{
        display: inline-block;
        vertical-align: top;
        width: 41px;
        height: 41px;
        border-radius: 41px;
        
        font-size: 20px;
        line-height: 41px;
        text-align: center;
        text-decoration: none;
        color: white;
        background: #212a3a;
    }

    .social-btn:hover{
        color: white;
        background: #ee3643;
    }

    .footer-feedback{
        float: left;
        width: 140px;
        margin-right: 50px;
    }

    .footer-feedback a{
        text-decoration: none;
        color: #ffd180;
    }

    .footer-feedback a:hover{
        text-decoration: underline;
    }

    .footer-copyright{
        float: left;
        width: 110px;
    }
    
    .footer-copyright a{
        text-decoration: none;
        color: #ffd180;  
    }

    .footer-copyright a:hover{
        text-decoration: underline;
    }
